<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.switchance_start">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".OtherUser" android:screenOrientation="portrait" ></activity>
        <activity android:name=".ChatRoom" android:screenOrientation="portrait" />
        <activity android:name=".HomePage" android:screenOrientation="portrait" />
        <activity android:name=".register.OwnedSkillActivity" android:screenOrientation="portrait" />
        <activity android:name=".register.IconActivity" android:screenOrientation="portrait" />
        <activity android:name=".register.InterestedSkillActivity" android:screenOrientation="portrait" />
        <activity android:name=".register.RegisterActivity" android:screenOrientation="portrait" />
        <activity android:name=".register.LogInActivity" android:screenOrientation="portrait"  />
        <activity android:name=".MainActivity"
                  android:screenOrientation="portrait" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>